VITE_GOOGLE_CLIENT_ID=
VITE_CLERK_PUBLISHABLE_KEY=
GOOGLE_API_KEY=
PINECONE_API_KEY=

# General Project Info
FIREBASE_TYPE=
FIREBASE_PROJECT_ID=
FIREBASE_UNIVERSE_DOMAIN=

# Authentication Keys
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=

# Google Auth URIs
FIREBASE_AUTH_URI=
FIREBASE_TOKEN_URI=
FIREBASE_AUTH_PROVIDER_X509_CERT_URL=
FIREBASE_CLIENT_X509_CERT_URL=

# Database URL
FIREBASE_DB_URL=

# Storage
GCS_BUCKET_NAME=
GCS_KEY_JSON=
